<div class="banner">
  <header class="header">

    <div class="wrapper">
      <div class="upper">
        <a class="logo" href="{{ site.baseurl }}/"></a>

        <button class="sign-up" id="sign-up">Sign up</button>

        <div id="modal-contents" class="hidden">
          <form class="modal-form">
            <input class="email" placeholder="Enter email address" type="text">
            <div class="checkbox">
              <label>
                <input type="checkbox" class="organizer">
                <span></span><span class="text">I'm an event organizer</span>
              </label>
            </div>
          </form>
          <div class="under">
            Releasing Summer 2016
          </div>
        </div>
      </div>
      <div class="lower">
        <h1>Exchange your portfolio just by touching phones.</h1>
      </div>
    </div>
  </header>
  <div class="video">
    <iframe width="832" height="468" src="https://www.youtube.com/embed/9W23MEvcW5w?modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="apps-overlay">
    <div class="bottom-shadow"></div>
  </div>
  <div class="apps"></div>
</div>
