/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, li, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: normal #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background: black;//linear-gradient(to bottom, #000000 0%,#000000 50%,#ffffff 50%,#ffffff 100%);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    .container {
      background-color: $background-color;
    }
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: 0;
}



/**
 * Images
 */
img {
    max-width: 100%;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 34px;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}


/**
 * Wrapper
 */
 //$wrapper-padding: 286px;
 $wrapper-padding: 20px;

 $wrapper-width: 1318px;

.wrapper {
    max-width: $wrapper-width;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding-right: $wrapper-padding / 2;
    padding-left: $wrapper-padding / 2;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $wrapper-padding;
        padding-left: $wrapper-padding;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
