/**
 * Site header
 */
.banner {
  position: relative;
  overflow: hidden;
  .header {
    border-top: 38px solid black;
    background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.0));
    z-index: 2;
    position: relative;
    .wrapper {
      height: 182px;
      padding-left: 30px;
      padding-right: 30px;
    }
    .upper {
      position: relative;
      .logo {
        width: 158px;
        height: 17px;
        background-image: url('../img/logo.svg');
        display: inline-block;
        position: absolute;
        top: -3px;
        left: 0;
        background-repeat: no-repeat;
      }
      .sign-up {
        top: -10px;
        position: absolute;
        right: 0;
        width: 106px;
        height: 42px;
        border-radius: 8px;
        border: solid 2px rgba(255, 255, 255, 0.5);
        font-size: 18px;
        color: #ffffff;
        outline: none!important;
        background: none!important;
        cursor: pointer!important;
        &:active {
          box-shadow: inset 0 0 10px rgba(0,0,0,1);
        }
      }
    }
    .lower {
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      padding: 0 20px;
      box-sizing: border-box;
      h1 {
        font-size: 30px;
        text-align: center;
        color: #ffffff;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        font-weight: 500;
      }
    }
  }
  .video {
    padding: 26px 10px 0;
    z-index: 2;
    position: relative;
    text-align: center;
    padding-bottom: 243px;
    height: 500px;
    margin: auto;
    font-size: 0;
    top: 190px;
    $iphoneMarginRight: 10px;
    $iphoneHeight: 321px;
    $iphoneWidth: 651px;
    $nexusHeight: 323px;
    $nexusWidth: 647px;
    $nexusContainerWidth: 518px;
    $nexusContainerHeight: 292px;
    $nexusContainerTop: 16px;
    $nexusContainerLeft: -4px;
    $iphoneContainerLeft: -3px;
    $iphoneContainerTop: 23px;
    $iphoneContainerWidth: 490px;
    $iphoneContainerHeight: 276px;
    @include media-query(1350px) {
      $scalePercentage: 0.85;
      height: 400px!important;
      .iphone {
        margin-right: ($iphoneMarginRight * $scalePercentage) !important;
        height: ($iphoneHeight * $scalePercentage)!important;
        width: ($iphoneWidth * $scalePercentage)!important;
        .card-container {
          top: ($iphoneContainerTop * $scalePercentage)!important;
          left: ($iphoneContainerLeft * $scalePercentage)!important;
          width: ($iphoneContainerWidth * $scalePercentage)!important;
          height: ($iphoneContainerHeight * $scalePercentage)!important;
        }
      }
      .nexus {
        height: ($nexusHeight * $scalePercentage)!important;
        width: ($nexusWidth * $scalePercentage)!important;
        .card-container {
          top: ($nexusContainerTop * $scalePercentage)!important;
          left: ($nexusContainerLeft * $scalePercentage)!important;
          width: ($nexusContainerWidth * $scalePercentage)!important;
          height: ($nexusContainerHeight * $scalePercentage)!important;
        }
      }
    }
    @include media-query(1150px) {
      top: 120px;
      $scalePercentage: 0.75;
      width: calc(100% + 200px);
      margin-left: -111px;
      height: 400px!important;
      .iphone {
        margin-right: ($iphoneMarginRight * $scalePercentage) !important;
        height: ($iphoneHeight * $scalePercentage)!important;
        width: ($iphoneWidth * $scalePercentage)!important;
        .card-container {
          top: ($iphoneContainerTop * $scalePercentage)!important;
          left: ($iphoneContainerLeft * $scalePercentage)!important;
          width: ($iphoneContainerWidth * $scalePercentage)!important;
          height: ($iphoneContainerHeight * $scalePercentage)!important;
        }
      }
      .nexus {
        height: ($nexusHeight * $scalePercentage)!important;
        width: ($nexusWidth * $scalePercentage)!important;
        .card-container {
          top: ($nexusContainerTop * $scalePercentage)!important;
          left: ($nexusContainerLeft * $scalePercentage)!important;
          width: ($nexusContainerWidth * $scalePercentage)!important;
          height: ($nexusContainerHeight * $scalePercentage)!important;
        }
      }
    }
    @include media-query(875px) {
      width: calc(100% + 200px);
      margin-left: -111px;
      top: 120px;
      $scalePercentage: 0.65;
      height: 400px!important;
      .iphone {
        margin-right: ($iphoneMarginRight * $scalePercentage) !important;
        height: ($iphoneHeight * $scalePercentage)!important;
        width: ($iphoneWidth * $scalePercentage)!important;
        .card-container {
          top: ($iphoneContainerTop * $scalePercentage)!important;
          left: ($iphoneContainerLeft * $scalePercentage)!important;
          width: ($iphoneContainerWidth * $scalePercentage)!important;
          height: ($iphoneContainerHeight * $scalePercentage)!important;
        }
      }
      .nexus {
        height: ($nexusHeight * $scalePercentage)!important;
        width: ($nexusWidth * $scalePercentage)!important;
        .card-container {
          top: ($nexusContainerTop * $scalePercentage)!important;
          left: ($nexusContainerLeft * $scalePercentage)!important;
          width: ($nexusContainerWidth * $scalePercentage)!important;
          height: ($nexusContainerHeight * $scalePercentage)!important;
        }
      }
    }
    .phone {
      position: relative;
      vertical-align: top;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center right;
      background-size: contain!important;
      transition: transform 0.4s ease;
      .card-container {
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        overflow: hidden;
        transition: background 0.2s ease 0.4s;
        background-color: rgba(0, 0, 0, 0);
        .card {
          height: 100%;
          width: 100%;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          transition: margin 0.2s ease 0.4s;
        }
      }
      &.animateIn {
        .card-container {
          background-color: rgba(0, 0, 0, 1);
          .card {
            margin: 0 !important;
          }
        }
      }
      &.iphone {
        margin-right: $iphoneMarginRight;
        height: $iphoneHeight;
        width: $iphoneWidth;
        @include background-image-retina("../img/demo/iPhone", png, 0, 0);
        transform: rotate(-90deg) translateY(100px);
        &.animateIn {
          transform: rotate(0) translateY(0);
        }
        .card-container {
          width: $iphoneContainerWidth;
          height: $iphoneContainerHeight;
          top: $iphoneContainerTop;
          left: $iphoneContainerLeft;
          .card {
            margin: 0 0 0 calc(100% + 20px);
            @include background-image-retina("../img/demo/nexus-card", png, 0, 0);
            background-size: contain!important;
          }
        }
      }
      &.nexus {
        width: $nexusWidth;
        height: $nexusHeight;
        border-radius: 2px;
        @include background-image-retina("../img/demo/Nexus", png, 0, 0);
        transform: rotate(90deg) translateY(100px);
        @include  media-query(650px) {
          transform: rotate(90deg) translateY(100px) translateX(-207px);
        }
        &.animateIn {
          transform: rotate(0) translateY(0);
        }
        .card-container {
          width: $nexusContainerWidth;
          height: $nexusContainerHeight;
          top: $nexusContainerTop;
          left: $nexusContainerLeft;
          .card {
            margin: 0 0 0 calc(-100% - 20px);
            @include background-image-retina("../img/demo/iphone-card", png, 0, 0);
            background-size: contain!important;
          }
        }
      }
    }
  }
  .apps-overlay {
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    .bottom-shadow {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 146px;
      background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.0));
    }
  }
  .apps {
    line-height: 0;
    font-size: 0;
    background: black;
    z-index: 0;
    position: absolute;
    top: 0;
    text-align: center;
    .image-set {
      img {
        display: inline;
        width: 258px;
        height: 146.86px;
        padding: 5px;
        @include media-query(535px) {
          width: 258px * 0.5;
          height: 146.86px * 0.5;
        }
      }
    }
  }
}
.content {
  .share-work {
    position: relative;
    background-color: #000000;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
    .wrap {
      max-width: 987px;
      margin: auto;
      position: relative;
      @include media-query(1023px) {
        text-align: center;
      }
      .phone {
        vertical-align: bottom;
        position: relative;
        display: inline-block;
        margin-top: 56px;
        width: 437px + 44px;
        height: 616px;
        @include background-image-retina("../img/portfolio", png, 437px + 44px, 616px);
        background-size: contain!important;
        @include media-query(1023px) {
          margin: auto;
        }
        .slider {
          width: calc(100% - 44px);
          margin: 89px auto auto;
          background: black;
          ul {
            li {
              div {
                width: 437px;
                height: 299px;
                background-size: cover;
                border-radius: 4px;
              }
            }
          }
        }
        @include media-query(500px) {
          width: (437px + 44px) / 2;
          height: (616px / 2);
          .slider {
            width: calc(100% - 22px);
            margin-top: 44px;
            ul li div {
              width: (437px / 2);
              height: (299px / 2);
            }
          }
        }
      }
      .right {
        text-align: left;
        color: white;
        display: inline-block;
        max-width: 498px;
        position: absolute;
        right: 0;
        height: 100%;
        padding-left: 50px;
        @include media-query(1023px) {
          display: block;
          position: relative;
          margin: auto;
          text-align: center;
          margin-bottom: 30px;
          padding: 20px;
        }
        .table {
          height: 100%;
          display: table;
          .table-cell {
            display: table-cell;
            vertical-align: middle;
            .title {
              margin-bottom: 8px;
            }
            .description {
              color: #c0c3c7;
            }
          }
        }
      }
    }
  }
  .cross-platform {
    background: white;
    text-align: center;
    padding-top: 85px;
    .description {
      margin: 13px auto 54px;
      font-size: 20px;
      color: #7e868f;
      max-width: 421px;
    }
    .phones {
      margin: 0 auto 85px;
      height: 287px;
      max-width: 570px * 2;
      background-repeat: no-repeat;
      font-size: 0;
      position: relative;
      padding: 0 10px;
      .iphone {
        position: absolute;
        left: 0;
        display: inline-block;
        height: 280px;
        width: calc(50% - 5px);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        @include background-image-retina("../img/iPhone", png, 0, 0);
        background-size: contain!important;
      }
      .nexus {
        position: absolute;
        right: 0;
        background-size: contain;
        display: inline-block;
        height: 280px;
        width: calc(50% - 5px);
        @include background-image-retina("../img/Nexus", png, 0, 0);
        background-size: contain;
        background-position: center left;
        background-repeat: no-repeat;
        background-size: contain!important;
      }
      @include media-query(500px) {
        height: initial;
        .iphone,
        .nexus {
          width: 100%;
          display: block;
          position: relative;
          height: 220px;
        }
      }
    }
  }
  .event-organizer {
    color: white;
    text-align: center;
    background: black;
    padding-top: 65px;
    .description {
      margin: 13px auto 54px;
      font-size: 20px;
      color: #c0c3c7;
      max-width: 461px;
    }
    .graph {
      margin: auto;
      width: 100%;
      max-width: 721px;
      height: calc(100vw - 275px);
      max-height: 335px;
      min-height: 200px;
      background-size: contain;
      background-position-y: bottom;
      background-position-x: center;
      background-repeat: no-repeat;
      background-image: url('../img/graph.svg');
    }
  }
  .sign-up {
    text-align: center;
    .title {
      margin-top: 76px;
      margin-bottom: 23px;
    }
    .submit {
      width: 100%;
      max-width: 320px;
      height: 48px;
      border-radius: 4px;
      background-color: #3f80ff;
      font-size: 16px;
      color: #ffffff;
      font-weight: bold;
      border: none;
      margin-top: 23px;
      outline: none!important;
      cursor: pointer;
      margin-bottom: 124px;
    }
    .checkbox .text {
      top: -2px;
    }
  }
}
/**
 * Site footer
 */
.footer {
  border-top: 1px solid $grey-color-light;
  padding: 19px 0 20px;
  background: white;
  .wrapper {
    padding: 0 20px;
    .copyright {
      font-size: 14px;
      color: #a9afb6;
      display: inline-block;
    }
    .links {
      float: right;
      display: inline-block;
      list-style: none;
      font-size: 0;
      margin-top: 6px;
      .link {
        display: inline-block;
        &:not(:last-of-type) {
          margin-right: 19px;
        }
        a {
          display: block;
          &.twitter {
            width: 24px;
            height: 19px;
            background-image: url('../img/twitter.svg');
          }
          &.email {
            width: 22px;
            height: 18px;
            background-image: url('../img/email.svg');
          }
        }
      }
    }
  }
}
.sweet-overlay {
  opacity: 0.97!important;
  background-color: #ffffff;
}
.sweet-alert {
  border-radius: 10px;
  box-shadow: 0 2px 34px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #ced3d8;
  width: 100%;
  max-width: 608px;
  margin-left: -322px;
  @include media-query(540px) {
    margin-left: -33px;
  }
  h2 {
    font-size: 30px;
    text-align: center;
    color: $text-color;
    font-weight: 500;
    margin-bottom: 33px;
    margin-top: 52px;
    line-height: inherit;
    padding: 0 20px;
  }
  .sa-error-container {
    margin-top: 22px;
    background: white;
    position: absolute;
    width: 100%;
    bottom: 35px;
    transition: none!important;
  }
  fieldset {
    display: none;
  }
  .confirm {
    margin-top: 22px;
    width: 100%;
    border-radius: 4px;
    background-color: $brand-color!important;
    width: 320px;
    margin-bottom: 64px;
    padding: 14px;
  }
  .twitter {
    width: 240px;
    height: 48px;
    border-radius: 4px;
    background-color: #059ff5;
    position: relative;
    display: block;
    margin: 28px auto 8px;
    &:before {
      content: "";
      position: absolute;
      background-image: url('../img/social-twitter-white.svg');
      width: 23px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: contain;
	    left: 15px;
      top: 15px;
    }
    &:after {
      content: "Share on Twitter";
      position: absolute;
      left: 50px;
      height: 100%;
      top: 0;
      padding-top: 14px;
    }
  }
  .facebook {
    width: 240px;
    height: 48px;
    border-radius: 4px;
    background: #3b5998;
    display: block;
    margin: auto;
    position: relative;
    &:hover {
      background: #49649C;
    }
    &:active {
      background: #3C5B9A;
    }
    &:before {
      content: "";
      position: absolute;
      background-image: url('../img/social-facebook.svg');
      width: 18px;
      height: 18px;
      background-repeat: no-repeat;
      background-size: contain;
      left: 15px;
      top: 15px;
    }
    &:after {
      content: "Share on Facebook";
      position: absolute;
      left: 50px;
      height: 100%;
      top: 0;
      padding-top: 14px;
    }
  }
}
.sign-up-form {
  color: $light-text-color;
  max-width: 320px;
  margin: auto;
  position: relative;
  font-size: 14px;
  .checkbox {
    margin-top: 12px;
    text-align: left;
    input {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;
      &:hover {
        cursor: pointer;
      }
      + span {
        width: 18px;
        height: 18px;
        border-radius: 4px;
        background-color: #ffffff;
        border: solid 2px #dee2e8;
        display: block;
        position: absolute;
        &:hover {
          cursor: pointer;
        }
      }
      &:checked + span {
        &:before {
          content: "";
          position: absolute;
          top: 1px;
          left: 1px;
          width: 16px;
          height: 16px;
          background: $brand-color;
          border-radius: 2px;
        }
      }
    }
    .text {
      margin-left: 30px;
      top: 2px;
      position: relative;
    }
  }
  input {
    display: block;
    &[type="text"] {
      margin: auto;
      outline: none!important;
      border-radius: 4px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: #ffffff;
      font-size: 16px;
      font-weight: 500;
      border: solid 2px #dee2e8;
      width: 100%;
      box-sizing: border-box;
      height: auto;
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: none;
      padding: 13px;
      outline: none!important;
    }
  }
  .under {
    width: 100%;
    position: absolute;
    bottom: -104px;
    left: 0;
  }
}
